# Виртуальное окружение
.venv/
venv/

# Кэш Python
__pycache__/
*.pyc

# Файлы с конфиденциальными данными
.env

# Папка для хранения фото
photos/

# Логи и временные файлы
logs/
*.log
*.tmp

# IDE и системные файлы
.vscode/
.idea/
.DS_Store